.centerized{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 80%;
  background-color: #ffffffec;
}

.profContainer{
  width: 70%;
  background-color: rgb(238, 232, 232);
  padding: 40px;
  color: #000000;
  margin-bottom: 20px;
}

.notice{
  height: 80px;
  width: 80%;
  background-color: rgba(14, 93, 136, 0.7);
  color: #ffffff;
  margin-bottom: 50px;
}

.fileBtn{
  width: 300px;
  border: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.506);
  color: white;
  margin: 20px;
}

.fileBtn2{
  width: 300px;
  border: 0;
  height: 40px;
  background-color: rgba(9, 112, 167, 0.502);
  color: white;
  margin: 50px;
}

.exitBtn{
  border-radius: 100%;
  margin: 10px;
  border: 0;
  background-color: gray;
  color: #ffffff;
  width: 40px;
  height: 40px;
}

.documentsContainer{
  background-color:rgb(62, 60, 60);
  flex-direction: column;
  margin: 2px;
}

.documentsContainer2{
  background-color:#d4cfcfec;
  flex-direction: column;
  margin: 0px 2px;
}


.docTitle{
  margin: 20px;
font-family:'Times New Roman', Times, serif;
color: white;

}
.documents{
  color: rgb(255, 255, 255);
  margin-right: 10px;
  
}

.heading{
  width: 100%;
  color: #1976d2;
  margin-top: 30px;
}

.Title{
  color: #000000;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
 
}

.HeaderImage{
  width: 100%;
  height: 440px;
  background-image: url("../public/homeImage.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 0px;
}

.HomePageDetails{
  background-color:#f6f7f9;
  padding: 0px 40px;
  padding-top: 40px;
  margin-bottom: 0px;
}

.HomePageInfo{
  margin: 20px 0px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.SiteFeature{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 20px;
  margin-bottom: 0px;

}

.features{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  padding: 70px;
  border-bottom: 1px solid gray;
 
}

.Icon{
  margin: 10px;
  width: 50px;
  height: 50px;
}

.featuresInfo{
  margin: 10px 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}


.ContactUs{
  display:flex;
  justify-content: right;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: rgb(54, 52, 52);
  margin-top: 0px;
}

.ContactUsInfo{
  margin: 120px;
}

.ContactUsInfo h5{
  margin-left: 60px;
}

.ContactList{
  display: flex;
  margin-top: 10px;
  list-style: none;
 
}

.ContactList li{
  width: 50px;
}

.ContactList li img{
  width: 30px;
  height: 25px;
}

.Container{
  height: 100vh;
  background-color: rgb(215, 246, 255);
}

.FormDiv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 450px;
  border: 0;
  background-color: white;
}

.FormTitle{
  width:300px ;
  display: flex;
  justify-content: center;
  color: #0aa8ad;
  margin: 20px 10px;
}

.NavBtn{
  border: 0;
  background-color: #0aa8ad;
  color:  white;
  margin: 0 20px;
}


.NavBtn-Div{
  border: 1px solid white;
  height: 40px;
  margin-right: 10px;
}

.profileIcon{
  width: 40px;
  height: 40px;
  margin: 0 30px;
}

.FormBtn{
  width: 280px;
  height: 34px;
  margin: 20px 10px ;
  border: 0;
  background-color: #0aa8ad;
  color: white;
}

.FormBtn2{
  color: #0aa8ad;
  font-weight: 500;
  cursor: pointer;
}

.InnerDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.VendorPage{
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 400px;
  display: flex;
  flex-direction: column;
}

.Container2{
  display: flex;
  background-color: rgb(215, 246, 255); 
  height: 100vh;
}

.leftDiv{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 70px;

}

.leftDiv h4{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-weight: 600;
  
  

}
.leftDiv h6{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

  
}
.rightDiv{
  width: 50%;
}

.ProcessDetails{
  
  background-color: #f6f7f9;
  height: 230px;
  width: 88%;
  margin: 15px;
  border-radius: 10px;
  display: flex;

}

.Process-steps{
  width: 25%;
  height: 100%;
}

.topDiv{
  height: 40%;
  display: flex;
  width: 100%;
  
}

.number{
  height:40px;
  width: 40px;
  background-color: #0aa8ad;
  margin: 2px;
  color: whitesmoke;
  border-radius: 100%;
  font-weight: 500;
  margin: 20px;
  
}
.line{
  width: 70%;
}

.line div{
   height: 2px;
   width: 100%;
   background-color: #0aa8ad;
}

.bottomDiv{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bottomDiv p{
  padding: 10px 30px;
  margin-left: 30px;
}

 .Profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2%;

}

.accordian{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.table{
  border:1px solid black;
  border-collapse: collapse;
  width:60%;
}

.column{
  padding: 5px;
  border:1px solid black;
  border-collapse: collapse;
}

.subjectName{
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.statusName{
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.selectButton{
width:40%;
display: flex;
justify-content: center;
align-items: center;

}
