.centerized{
  display: flex;
  justify-content: center;
  align-items: center;

}

.Title{
  color: green;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
 
}

.HeaderImage{
  width: 100%;
  height: 400px;
  background-image: url("../public/image4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0px;
}

.HomePageDetails{
  background-color:#f6f7f9;
  padding: 0px 40px;
  padding-top: 40px;
  margin-bottom: 0px;
}

.HomePageInfo{
  margin: 20px 0px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.SiteFeature{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 20px;
  margin-bottom: 0px;

}

.features{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  padding: 70px;
  border-bottom: 1px solid gray;
 
}

.Icon{
  margin: 10px;
  width: 50px;
  height: 50px;
}

.featuresInfo{
  margin: 10px 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}


.ContactUs{
  display:flex;
  justify-content: right;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: rgb(54, 52, 52);
  margin-top: 0px;
}

.ContactUsInfo{
  margin: 120px;
}

.ContactUsInfo h5{
  margin-left: 60px;
}

.ContactList{
  display: flex;
  margin-top: 10px;
  list-style: none;
 
}

.ContactList li{
  width: 50px;
}

.ContactList li img{
  width: 30px;
  height: 25px;
}

.Container{
  height: 100vh;
  background-color: rgb(170, 243, 170);
}

.FormDiv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 450px;
  border: 0;
  background-color: white;
}

.FormTitle{
  width:300px ;
  display: flex;
  justify-content: center;
  color: green;
  margin: 20px 10px;
}

.NavBtn{
  border: 0;
  background-color: green;
  color:  white;
  margin: 0 20px;
}


.NavBtn-Div{
  border: 1px solid white;
  height: 40px;
}

.profileIcon{
  width: 40px;
  height: 40px;
  margin: 0 30px;
}

.FormBtn{
  width: 280px;
  height: 34px;
  margin: 20px 10px ;
  border: 0;
  background-color: green;
  color: white;
}

.FormBtn2{
  color: green;
  font-weight: 500;
  cursor: pointer;
}

.InnerDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.VendorPage{
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 400px;
  display: flex;
  flex-direction: column;
}

.Container2{
  display: flex;
  background-color: rgb(170, 243, 170); 
  height: 100vh;
}

.leftDiv{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 70px;

}

.leftDiv h4{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-weight: 600;
  
  

}
.leftDiv h6{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

  
}
.rightDiv{
  width: 50%;
}

.ProcessDetails{
  
  background-color: #f6f7f9;
  height: 230px;
  width: 88%;
  margin: 15px;
  border-radius: 10px;
  display: flex;

}

.Process-steps{
  width: 25%;
  height: 100%;
}

.topDiv{
  height: 40%;
  display: flex;
  width: 100%;
  
}

.number{
  height:40px;
  width: 40px;
  background-color: green;
  margin: 2px;
  color: whitesmoke;
  border-radius: 100%;
  font-weight: 500;
  margin: 20px;
  
}
.line{
  width: 70%;
}

.line div{
   height: 2px;
   width: 100%;
   background-color: green;
}

.bottomDiv{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bottomDiv p{
  padding: 10px 30px;
  margin-left: 30px;
}
